.navbar {
  position: fixed;
  top: 0;
  left: 5%;
  width: 90%;
  height: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  background-color: #e6f0dc;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;

  z-index: 1000;
}

.navbar-left {
  font-size: 22px;
  font-weight: bold;
}

.navbar-left img {
  height: 40px;
  object-fit: contain;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}


.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}


.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #d4dcee; 
  color: #ebdfdf;
}

.active{

  background-color: #d4dcee; 
  color: #ebdfdf;

}






/* profile */
.profile-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  background-color: #4f46e5;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 16px;
}
.profile-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}


.profile-wrapper {
  position: absolute;
  top: 60px;
  right: 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 1000;
}

.profile-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

.profile-wrapper li {
  padding: 8px 16px;
  cursor: pointer;
}

.profile-wrapper li:hover {
  background: #f2f2f2;
}
